# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/
.env/
PFO3_ENV/
.PFO3_ENV/

# VSCode / JetBrains
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Distribution / build
dist/
build/
*.egg-info/

# Logs
*.log

# Database
*.sqlite3

